.card {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 80px;
    height: 105px;
    border-radius: 8px;
    border: 0.5px solid #CDCDCD;

    cursor: pointer;
    transition: all 300ms ease;
}

.card:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.card.active {
    border-color: #ED5517;
    color: #000;
}

.card.hide {
    color: white;
}

.card.active.freeze {
    border-color: #000;
}

.card.active.freeze:hover {
    box-shadow: none;
    cursor: auto;
}
  